@page{
    size: A4;
    margin: 2cm 2cm 1cm 2cm;
}

h1{
    page-break-before: always;
}

.title{
    margin-top:10.5cm;
}

img{
    width:100%;
}

code{
    margin: 0 5px 0 5px;
}

.divider{
    height: 10px;
    display: block;
}

.poi{
    page-break-inside: avoid;
}

.intro{
    display: block;
    position: relative;
    page-break-inside: avoid;
}

.intro h3{
    position: absolute;
    top:0;
    left:0;
    width: 2cm;
}

.intro small{
    position: relative;
    display: block;
    top:0;
    left: 2cm;
    width: 12cm;
}

.headding{
    position: relative;
}

.headding h2{
    top:0;
    left:0;
    width: 15cm;
}

.headding img{
    position: absolute;
    top:0;
    right:0;
    width: 3cm;;
}

.TR-map{
    width:100%;
}